.lodding-wrap {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 1000;
  opacity: 1;
}

.high-light {
  background: #706d6d linear-gradient(-135deg,
      transparent 25%,
      transparent 40%,
      rgba(255, 255, 255) 40%,
      rgba(255, 255, 255) 60%,
      transparent 60%,
      transparent);
  background-size: 60px 60px;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: scratchy 6s linear infinite;
}

@keyframes scratchy {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 130% 0;
  }
}

.canvas-wrap {
  position: fixed;
  top: 66px;
  bottom: 0px;
  z-index: 1;
  left: 0;
  right: 0;
}

.mynavbar {
  width: 100%;
  height: 8%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px 2px;
  border-radius: 0% 0% 15px 15px;
  transition: 1s;
  z-index: 3000;
}

.mynavbar:hover {
  box-shadow: 0px 0px 10px 2px white;
  background-color: black;
}

.mynavbar .total {
  font-size: 36px;
  font-weight: 900;
  margin-left: 7%;
  flex: 1.2;
}

.mynavbar .nav-divide {
  display: flex;
  flex: 1;
  justify-content: space-around;
  margin: 0px;
}

.mynavbar .nav-divide li {
  font-size: clamp(1rem, 0.906rem + 0.5vw, 1.5rem);
  font-weight: bold;
  list-style-type: none;
}

.mynavbar .nav-divide li:last-child {
  margin-left: 10%;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

a:hover {
  color: gray;
}